body, html {
  height: 100%;
}

#home-me {}

#about-me {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}

#contact-me {}

.me-home {
  background-image: url("../pic/elin.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.me-about {
  height: 300px;
  background-color: white;
  top: 800px;
  bottom: 500px;
  margin-top: -100px;
}

.me-contact {
  background-image: url("../pic/road.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
}

.me-code {
  height: 300px;
  background-color: white;
  top: 800px;
  bottom: 500px;
}

.contact {
  font-family: monospace;
  font-size: 70px;
}

.mail_img {
  width: 400px;
  padding: 30px;
}

.header {
  background-color: blue;
}

#navbar a {
  font-family: monospace;
  float: left;
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

#navbar a:hover {
  background-color: pink;
  color: black;
  opacity: 0.8;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky+.content {
  padding-top: 60px;
}

.caption {
  position: absolute;
  /* left: 0; */
  top: 70%;
  width: 100%;
  text-align: left;
  color: #000;
}

.column-one>p {
  color: #fff;
  font-family: monospace;
  font-size: 28px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 6s steps(60, end);
}

.column-one>p:nth-child(2) {
  animation: type2 9s steps(60, end);
}

.column-one>p>a {
  color: pink;
}

span {
  animation: blink 1s infinite;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

@media (max-width: 600px) {
  .caption {
    display: none;
  }
  .header {
    display: none;
  }
}

@media (min-width: 600px) {
  .menu {
    display: none;
  }
}

.line1, .line2, .line3 {
  width: 40px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.9s;
}

.change .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


.menu {
  cursor: pointer;
  margin-right: auto;
  flex: 1 1 auto;
  position: fixed;
}

.menu-t {
  display: none;
}

.change .menu-t {
  -webkit-transition: all 0.4s linear;
  display: flex;
}

.bmenu {
  font-family: monospace;
  padding: 50px 0px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.55);
  width: 500px;
  height: 400px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  border-radius: 250px;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.bmenu:hover {
  background: rgba(0, 0, 0, 0.2);
}

.bmenu li {
  font-size: 42px;
  display: block;
  line-height: 100px;
}

.bmenu li a {
  color: transparent;
  display: block;
  text-align: center;
  text-shadow: 0px 0px 0px #fff;
  letter-spacing: 16px;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
}
